@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  --animate-border-beam: border-beam calc(var(--duration)*1s) infinite linear;
}

@keyframes border-beam {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
